body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none !important;
}

.navbar{
    background: #fff !important;
    box-shadow: 1px 1px 2px #444 !important;
}
nav .navbar-brand{
    color: #fd7e14;
}
.navbar-nav .nav-link{
    font-size: 18px !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-toggler{
    outline: none !important;
    padding: none  !important;
}
.carousel-inner .carousel-item{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-inner .carousel-item::before{
    /* content: ; */
    background-color: rgb(12, 10, 0.5);
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.carousel-inner .carousel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 40%;
    right: 0;
    left: 0;
}
.carousel-inner .carousel-caption span{
    color: var(--bs-orange);
}
.carousel-inner .carousel-caption h2{
    color: #f4f1f2;
    margin-bottom: 5px;
    font-size: 42px;
    font-weight: 600;
    width: 80%;
    margin: 0 auto 10px auto;
}
@media (max-width: 768px)
{
    .carousel-inner .carousel-caption h2{
        font-size: 38px;
    }
    
}
@media (max-width: 577px)
 {
    .carousel-inner .carousel-caption h2{
        font-style: 25px;
    
    }
    .carousel-inner .carousel-caption p{
        font-style: 13px;
        color: #fd7e14;
    }
}
/* about  section*/
.section-heading{
    color: var(--bs-orange);
}

/***********************
Course
***********************/
.course .box{
    padding: 10px 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
}